<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <br>   
    <h1>
        To-Do List:
    </h1> 
    <h2>
        {% for atividade in nome_default %}
        <center>
            {{ atividade.nome_atividade }}
        </center>
        {% endfor %}
    </h2>
    <br>
    <a href="/cadastro"><button>Cadastro</button></a>
    <br>
    <a href="/admin"><button>Edição</button></a>

</body>
</html>